.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__logo {
    margin-right: 150px;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 34px;
    }

    &:hover {
      .menu__dropdown {
        transform: translate(-50%, 20%);
        opacity: 1;
      }
    }
  }

  &__link {
    font-size: 15px;
    line-height: 1.2;
    color: #436372;

    transition: color .4s;

    &:hover {
      color: $hover-link;
    }

    &:focus {
      color: #fcd7b6;
    }

    &:active {
      color: $hover-link;
    }
  }

  &__dropdown {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    padding: 10px 10px 10px 10px;

    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
      0 6px 20px 0 rgba(0, 0, 0, 0.4);
    opacity: 0;

    transform: translate(-50%, -200%);
    transition: opacity .6s;
  }

  &__user-nav {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  &__search-form {
    position: relative;

    margin-right: 22px;

    &:hover {
      .menu__search-input {
        width: 200px;
        padding: 10px 50px 10px 10px;
      }
    }
  }

  &__search-input {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;

    font-size: 15px;
    line-height: 1;
    color: $subtitle;

    border: none;
    border-radius: 25px;
    background-color: #edf1f4;

    transition: width .5s;

    &:focus {
      width: 200px;
      padding: 10px 50px 10px 10px;
    }
  }

  &__search-btn {
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;
    background-color: #edf1f4;

    cursor: pointer;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }

  &__wrapper {
    display: flex;
    margin-right: 17px;
    padding: 9px 29px;

    background-color: #fcd7b6;
    border-radius: 25px;
  }

  &__like,
  &__cart {
    position: relative;
    padding: 16px 30px;
  }

  &__like {
    border-right: 1px solid #fde7d3;

    svg {
      position: absolute;
      width: 18px;
      height: 17px;
      top: 13px;
      left: 13px;
    }

    path {
      transition: fill .4s;
    }

    &:hover {
      path {
        fill: #fff;
      }
    }

    &:focus {
      path {
        fill: #243f4d;
      }
    }

    &:active {
      path {
        fill: #000;
      }
    }
  }

  &__cart {
    svg {
      position: absolute;
      width: 19px;
      height: 17px;
      top: 12px;
      left: 28px;
    }

    path {
      transition: fill .4s;
    }

    &:hover {
      path {
        fill: #fff;
      }
    }

    &:focus {
      path {
        fill: #243f4d;
      }
    }

    &:active {
      path {
        fill: #000;
      }
    }
  }

  &__num {
    position: absolute;
    min-width: 16px;
    min-height: 16px;
    top: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;

    @extend %dmsans-400;
    font-size: 10px;
    line-height: 1;

    background-color: #fff;
    border-radius: 50%;

    &--like {
      right: 19px;
    }

    &--cart {
      right: 5px;
    }
  }

  &__user-menu {
    position: relative;
    width: 51px;
    height: 51px;

    background-color: #a3bbc8;
    border-radius: 50%;

    svg {
      position: absolute;
      width: 21px;
      height: 21px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    path {
      transition: fill .4s;
    }

    &:hover path {
      fill: #243f4d;
    }

    &:focus path {
      fill: #fff;
    }

    &:active path {
      fill: #000;
    }
  }
}